# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
package-lock.json

# Build files
dist/
dist-ssr/
build/
.cache/
artifacts/
cache/
typechain-types/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deployment
.vercel/
.netlify/

# Hardhat
coverage/
coverage.json
typechain/

# Hardhat cache
hardhat-deploy/
.hardhat/

# Local Netlify folder
.netlify/

# Misc
*.local
